.safety-committed-container {
    margin: 0% !important;
}

.safety-committed-wrapper{
    margin: 0% !important;
    padding-right: 0% !important;
    width: 100% !important;               /* Set width to 100% */
    max-width: none !important;           /* Ensure it doesn't inherit a max-width */
    background-color: black;
    height: 700px;
}

.safety-committed > div{
    display: flex !important;
}


.safety-committed > div > div:nth-of-type(1) h2 {
    color: white;
    font-family: forza-normal, sans-serif;
    font-size: 2.5rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 3rem;
}

.safety-committed > div > div:nth-of-type(1) p {
    color: white;
    font-family: frutiger-normal, serif;
    font-size: 1.125rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
}
.safety-committed > div > div:nth-of-type(1) {
    width: 50%;
    margin-left: 100px;
    padding: 80px;
   
}





.safety-committed > div > div:nth-of-type(2) > picture img  {

    width: 1290px;
    height: 700px;

}




.safety-committed > div > div:nth-of-type(1) > p:last-child a{
    color: white;
    background-color: #C2012F;
    font-family: frutiger-normal, serif;
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.5rem;
    border-radius: 0;
    
}

