.community-card-title-wrapper {
    display: flex;             /* Use flexbox for alignment */
    justify-content: center;   /* Center horizontally */
    align-items: center;       /* Center vertically (optional) */
    height: 100%;              /* Ensure it takes up the full height if needed */
}

.community-card-title {
    text-align: center;        /* Center text within the block */
}


.community-cards-1 {
    display: flex;
    padding-bottom: 15px;


}


.community-cards-2 {
    display: flex;
    padding-bottom: 15px;

}
.community-cards-3 {
    display: flex;
    padding-bottom: 15px;

}

.community-cards-1 > div{
    border: 1px solid #d0d0ce;;
    margin: 25px;
    width: 348px;
    height: 714px;
}


.community-cards-2 > div{
    border: 1px solid #d0d0ce;;
    margin: 25px;
    width: 348px;
    height: 714px;

}
.community-cards-3 > div{
    border: 1px solid #d0d0ce;;
    margin: 25px;
    width: 348px;
    height: 714px;

}


.community-cards-1 > div > div:last-child{
    padding: 2rem 1rem;


}


.community-cards-2 > div > div:last-child{
    padding: 2rem 1rem;


}


.community-cards-3 > div > div:last-child{
    padding: 2rem 1rem;


}