footer {
  background-color: white;;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

.footer-top {
  display: flex;
}
.footer-cta {
  display: flex;
}

.footer-cta > div{
  padding: 50px;
}

.footer-cta > div > div h3 {
  font-family: forza-normal, sans-serif;
    font-size: 1rem;
    font-stretch: normal;
    font-style: bold;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 2rem;
}

.footer-cta > div > div p {
  font-family: frutiger-normal, serif;
  font-size: .875rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.25rem;
}


.footer-mobile > div:first-child > div > p:first-child > picture img{
  height: 90px;
  width: 95px;

}



.footer-mobile > div:last-child > div > picture img{
  height: 50px;
  width: 250px;

}

